[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 11.0

[submodule "OCA/business-requirement"]
	path = OCA/business-requirement
	url = git@github.com:OCA/business-requirement.git
	branch = 11.0
